body {
  background-color: #f5f5f5;
  margin: 0;
}

header {
  align-items: center;
  background-color: #283e4a;
  display: flex;
  height: 52px;
}

.header-content {
  color: #ffffff;
  display: inline-flex;
  flex-direction: column;
  text-align: center;
}

.fa-linkedin {
  background-color: #ffffff;
  color: #0077b5;
}

.column-1 {
  border-style: solid;
  border-width: 1px;
  display: inline-block;
}

.column-2 {
  border-style: solid;
  border-width: 1px;
  display: inline-block;
}

.column-3 {
  border-style: solid;
  border-width: 1px;
  display: inline-block;
}

.body-content {
  display: flex;
  align-items: flex-start;
}
