* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    padding: 10px 30px;
    
}

nav {
    display: flex;
    justify-content: space-between;
}

main {
    display: flex;
    flex-direction: column;
    padding: 0 30px;
}

h1 {
    text-align: center;
    margin-bottom: 10px;
}

form {
    display: flex;
    flex-direction: column;
}

ul {
    margin: 15px 0;
    list-style: none;
}

.delete-btn {
    padding: 2px 5px;
}

#input {
    margin-bottom: 5px;
    padding: 5px 0;
}

#submit {
    padding: 5px 0;
    border-radius: 0;
}

li {
    margin-bottom: 5px;
}